.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.html
GRCh37_hg19_common_variants_20200225.tsv
cn_signatures_runscript.R
vignettes/*.R
/manuscript_Rmarkdown
/output
/plots
data/sample_data/
data/britroc/
data/input_copy_numbers/
data/britroc/
data/britroc_output/
data/tcga_ucs_output/
data/NSMP/
data/endometrium/
data/mixture_models/
data/external_datasets/
data/feat_sig_mat.rds
inst/doc
