.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/output
/plots
.html
/manuscript_Rmarkdown
/data/britroc
/data/input_copy_numbers
data/britroc/
data/britroc_output/
GRCh37_hg19_common_variants_20200225.tsv
data/tcga_ucs_output/
cn_signatures_runscript.R
data/sample_data/
